<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="MetronicApp" > <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="MetronicApp"> <![endif]-->
<html lang="en" data-ng-app="MetronicApp">
<head>
<meta charset="utf-8" />
<title>用户登录</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport" />
<meta content="" name="description" />
<meta content="" name="author" />
 
<link
	href="resources/global/plugins/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" />
<link
	href="resources/global/plugins/simple-line-icons/simple-line-icons.min.css"
	rel="stylesheet" />
<link href="resources/global/plugins/bootstrap/css/bootstrap.min.css"
	rel="stylesheet" type="text/css" />
<link
	href="resources/global/plugins/bootstrap-daterangepicker/daterangepicker.min.css"
	rel="stylesheet" />
<link
	href="resources/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css"
	rel="stylesheet" />
<link href="resources/global/css/components-rounded.min.css"
	rel="stylesheet" id="style_components" />
<link href="resources/global/css/plugins.min.css" rel="stylesheet" />
<link href="packages/pages/resources/css/login.min.css" rel="stylesheet" />
<link id="ng_load_plugins_before" />
<link href="resources/global/css/plugins.min.css" rel="stylesheet" />
<link href="resources/layouts/layout/css/layout.min.css"
	rel="stylesheet" />
<link href="resources/layouts/layout/css/themes/darkblue.min.css"
	rel="stylesheet" id="style_color" />
<link href="resources/layouts/layout/css/custom.min.css"
	rel="stylesheet" />
<link href="resources/global/css/libs.min.css" id="style_components" rel="stylesheet" type="text/css" />
<!--[if  IE 9]>
	<style type="text/css">
		.t-input-icon > .input-login-icon{
		    top:40px\9\0;
		}
		.sendCodeBtn{
		    height: 40px;
		    margin-top: 25px\9\0;
		}
		#imgCode{
		    margin-top: 25px\9\0;
		}
	</style>
<![endif]-->
<style type="text/css">

@charset "UTF-8"; 

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak,
	.x-ng-cloak, .ng-hide {
	display: none !important;
}

ng\:form {
	display: block;
}

.ng-animate-start {
	clip: rect(0, auto, auto, 0);
	-ms-zoom: 1.0001;
}

.ng-animate-active {
	clip: rect(-1px, auto, auto, 0);
	-ms-zoom: 1;
}
</style>
<link rel="shortcut icon" href="favicon.ico" />
</head>
<body class="login">
	<div class="content" name="signInAndUp" ng-controller="signInAndUpCtrl"
		ng-model="signInAndUp" id="modalView">
		
		<!-- --=======================================---------登录---------=======================================-------  -->

		<form class="login-form" name="signInForm" ng-submit="submitForm()"
			novalidate ng-show="signInIsShow" ng-controller="signInFormCtrl"
			method="post" ng-keyup="keyup($event)">
			<div class="form-title row">
				<i class="ace-icon fa fa-coffee green"></i> 用户登录
			</div>
			<h3 class="form-name form-group" ng-cloak class="ng-cloak">{{loginGlobalItem}}</h3>

			<div ng-cloak class="ng-cloak alert alert-danger" ng-show="loginerror">
				<span ng-show="singOnForm"> 用户名或密码错误，请重试。</span> <span
					ng-show="singOnAccount"> 请填写账号。</span> <span ng-show="singOnPsw">
					请填写密码。</span>
			</div>
			<div class="form-group t-input-icon">
				<label class="control-label visible-ie8 visible-ie9">账号</label> <input
					class="form-control form-control-solid placeholder-no-fix"
					ng-focus="hideZMError()" ng-change="verifyAccountRequired()"
					id="accountId" type="text" placeholder="账号" required maxlength="32"
					ng-model='user.account'> <i
					class="fa fa-user input-login-icon"></i>
			</div>
			<div class="form-group t-input-icon">
				<label class="control-label visible-ie8 visible-ie9">密码</label> <input
					class="form-control form-control-solid placeholder-no-fix"
					ng-focus="hideZMError()" ng-change="verifyPswRequired()"
					type="password" id="pswId" autocomplete="off" placeholder="密码"
					required ng-model="user.password"> <i
					class="fa fa-lock input-login-icon"></i>
			</div>
			<div class="form-group">
				<div class="row">
					<div class="col-md-6 text-left">
						<input type="checkbox" name="remember" value="1" id="remember-me">
						<label class="rememberme check">记住我</label>
					</div>
					<div class="col-md-6 text-right">
						<button type="submit" name="login"
							class="btn btn-primary t-btn-lg">登 录</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<p>
				<div class="col-md-6 text-left">
					<a href="javascript:;" id="forget-password" class="uppercase"
						ng-click="forgetPassword()"> <i
						class="ace-icon fa fa-arrow-left">忘记密码？</i></a>
				</div>
				<div class="col-md-6 text-right">
					<a href="javascript:;" id="register-btn" class="uppercase"
						ng-click="createAnAccount()"> 没有账号？注册<i
						class="ace-icon fa fa-arrow-right"></i></a>
				</div>
				</p>
			</div>
		</form>
		
		<!-- --=======================================---------找回密码---------=======================================-------  -->
		
		
		<form class="forget-form" name="forgetForm" ng-submit="submitForm()"
			ng-show="forgetIsShow" ng-controller="forgetCtrl" novalidate
			method="post" ng-cloak class="ng-cloak">
			<h3 class="font-green">
				<i class="ace-icon fa fa-key"></i>找回密码
			</h3>
			<div class="space-line"></div>
			<p>请输入您的注册邮箱，您将会收到新的密码。</p>
			
			
				
			<div class="form-group t-input-icon">
				<label class="control-label visible-ie8 visible-ie9">请输入邮箱</label>
				<input class="form-control placeholder-no-fix"
					ng-focus="hideError()" type="email" autocomplete="off" maxlength="32"
					placeholder="请输入邮箱" name="email" required ng-model="forgeter.email" ng-blur="emaiBure();"  ng-change="emaiChang()">
				<i
					class="fa fa-envelope input-login-icon"></i>	
				<div class="error" ng-show="forgetForm.submitted">
					<div class="alert-danger well-sm"
						ng-show="forgetForm.email.$error.required" ng-cloak
						class="ng-cloak">邮箱不能为空。</div>
					<div class="alert-danger well-sm"
						ng-show="forgetForm.email.$error.email" ng-cloak class="ng-cloak">请正确填写您的邮箱。</div>
				</div>
				<div class="alert-danger well-sm" ng-show="forget" ng-cloak
				class="ng-cloak">此邮箱未被注册。</div>
			</div>
			<div class="form-group">
				<button type="submit" name="send"
					class="btn btn-danger uppercase pull-right">
					<i class="ace-icon fa fa-lightbulb-o"></i>发送!
				</button>
			</div>
			<br /> <br />
			<div class="create-account">
				<p>
					<a id="back-btn" class="" ng-click="forgetBack()"> <i
						class="ace-icon fa fa-arrow-left"></i>返回登录
					</a>
				</p>

			</div>
		</form>
		
		<!-- --=======================================---------用户注册---------=======================================-------  -->
		
		<form class="register-form " id="register-form" name="registerForm"
			ng-submit="submitForm()" ng-show="registerIsShow" novalidate
			ng-controller="registerCtrl" method="post" ng-cloak class="ng-cloak">
			<div class="form-title row">
				<i class="ace-icon fa fa-users blue"></i>用户注册
			</div>
			<div class="form-group t-input-icon">
			
				<label class="control-label visible-ie8 visible-ie9">邮箱</label> <input
					class="form-control placeholder-no-fix" type="text"
					placeholder="邮箱"   maxlength="32"
					ng-change="emailChangeEvent()"  id="createrEmail"
					required ng-model="creater.email" ng-blur="emailBlurEvent()" ng-focus="hideRegisterEmailtip()"> <i
					class="fa fa-envelope input-login-icon"></i>

				<div class="alert-danger well-sm" ng-show="emailFormat">邮件格式有误</div>
				<div class="alert-danger well-sm" ng-show="emailRequired">邮件是必填项</div>
				<div class="alert-danger well-sm" ng-show="emailErrMsg">邮箱已经被注册</div>

			</div>

			<div class="form-group">
				<div class="row">
					<div class="col-md-7 text-left">
						<label class="control-label visible-ie8 visible-ie9">验证码</label> <input
							class="form-control form-control-solid placeholder-no-fix" maxlength="6"
							type="text" placeholder="验证码" id="reisterCodeId" required ng-focus="hidRregisterVerifycodeErrorInfo()" ng-blur="validateCode()"
							ng-model="verifyCode">
					</div>
					<div class="col-md-5 text-right">
						<button class="btn btn-primary sendCodeBtn" type="button" id="sendCodeBtn"
							ng-click="sendVerifyCode()">
							<i class="ace-icon fa fa-lightbulb-o"></i> <span>获取验证码!</span>
						</button>
					</div>
				</div>
				<div class="alert-danger well-sm" ng-show="registerVerifycodeRequired">请输入邮件中验证码。</div>
				<div class="alert-danger well-sm" ng-show="registerFormVerifycodeError">验证码错误。</div>
			</div>
			<div class="form-group t-input-icon">
				<label class="control-label visible-ie8 visible-ie9">姓名</label> 
				<input
					class="form-control placeholder-no-fix" type="text" ng-focus="hideErrorRegMsg()"
					autocomplete="off" placeholder="姓名" name="name" required
					ng-model="creater.name" maxlength='25'> <i
					class="fa fa-user input-login-icon"></i>
					
				<div class="error" ng-show="registerForm.submitted" ng-cloak
					class="ng-cloak">
					<div class="alert-danger well-sm"
						ng-show="registerForm.name.$error.required">姓名不能为空。</div>
				</div>
			</div>
			<div class="form-group t-input-icon">
				<label class="control-label visible-ie8 visible-ie9">账号</label> <input
					class="form-control placeholder-no-fix" type="text" ng-focus="hideErrorRegMsg()"
					autocomplete="off" placeholder="账号" name="account" required
					ng-model="creater.account" maxlength='25'> <i
					class="fa fa-user input-login-icon"></i>
					
				<div class="alert-danger well-sm" ng-show="regMsg">{{regErrorMsg}}</div>
				
				<div class="error" ng-show="registerForm.submitted" ng-cloak
					class="ng-cloak" maxlength='25'>
					<div class="alert-danger well-sm"
						ng-show="registerForm.account.$error.required">账号不能为空。</div>
				</div>
			</div>
			<div class="form-group  t-input-icon">
				<label class="control-label visible-ie8 visible-ie9">密码</label> <input
					class="form-control placeholder-no-fix" type="password"
				    autocomplete="off"
					id="register_password" placeholder="密码" name="password" required
					ng-model="creater.password"  maxlength='30'> <i
					class="fa fa-lock input-login-icon"></i>
				<div class="error" ng-show="registerForm.submitted">
					<div class="alert-danger well-sm"
						ng-show="registerForm.password.$error.required">密码不能为空</div>
				</div>
			</div>
			<div class="form-group t-input-icon">
				<label class="control-label visible-ie8 visible-ie9">确认密码</label> <input
					class="form-control placeholder-no-fix" type="password" name="rpassword"
					ng-change="checkPassword()"  placeholder="确认密码" required
					ng-model="creater.rpassword" maxlength='30'>
				<i class="fa  fa-retweet input-login-icon"></i>
				<div class="error" ng-show="registerForm.submitted">
					<div class="alert-danger well-sm"
						ng-show="registerForm.rpassword.$error.required">确认密码不能为空</div>
				</div>
				<div class="alert-danger well-sm ng-cloak" ng-show="pswUnify">两次密码输入不一致</div>
			</div>
			<div class="form-group margin-top-20 margin-bottom-20">
				<input type="checkbox" name="tnc" ng-change="tncChange()"
					ng-model="creater.tnc"> <label class="check"
					translate="agree"> 我接受</label> <a href="javascript:;"
					ng-click="serviceOrRivacy('serviceAgreement')" translate="termsService"> 服务协议 </a> &
				<a href="javascript:;" ng-click="serviceOrRivacy('privacy')"
					translate="privacyPolicy"> 隐私条款 </a>
				<div class="error" ng-show="registerForm.isSub" ng-cloak
					class="ng-cloak">
					<div class="alert-danger well-sm" ng-show="!registerForm.tncShow">必须接受服务协议和隐私条款。</div>
				</div>
			</div>
			<div class="form-actions">
				<button type="button" id="register-reset-btn"
					class="btn btn-default btn-login-color" ng-click="registerReset()">
					<i class="ace-icon fa fa-refresh"></i> 重置
				</button>
				<button type="submit" id="register-submit-btn"
					class="btn btn-success uppercase pull-right">
					注册 <i class="ace-icon fa fa-arrow-right"></i>
				</button>
			</div>
			<div class="create-account">
				<br />
				<p>
					<a href="javascript:;" name="registerback" class="uppercase"
						ng-click="registerBack()"> <i
						class="ace-icon fa fa-arrow-left"></i> 返回登录
					</a>
				</p>
			</div>
		</form>
	</div>

	<script src="resources/global/plugins/respond.min.js"></script>
	<script src="resources/global/plugins/excanvas.min.js"></script>
	<script src="resources/global/plugins/jquery.min.js"></script>
	<script src="resources/global/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="resources/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
	<script src="resources/global/plugins/angularjs/angular.min.js"></script>
	<script
		src="resources/global/plugins/angularjs/angular-sanitize.min.js"></script>
	<script src="resources/global/plugins/angularjs/angular-touch.min.js"></script>
	<script
		src="resources/global/plugins/angularjs/plugins/angular-ui-router.min.js"></script>
	<script
		src="resources/global/plugins/angularjs/plugins/ocLazyLoad.min.js"></script>
	<script
		src="resources/global/plugins/angularjs/plugins/ui-bootstrap-tpls.min.js"></script>
	<script src="packages/index/js/main.js"></script>
	<script src="packages/index/js/directives.js"></script>
	<script src="resources/global/scripts/app.min.js"></script>
	<script src="resources/layouts/layout/scripts/layout.min.js"></script>
	<script src="resources/layouts/global/scripts/quick-sidebar.min.js"></script>
	
	<script src="packages/pages/js/controllers/pseudo_login.js"></script>
	
	<script src="resources/global/plugins/angular-translate.min.js"></script>
	<script
		src="resources/global/plugins/angular-translate-loader-static-files.min.js"></script>
	<script src="packages/index/js/common/CommonService.js"></script>
	<script src="packages/index/js/common/json2.js"></script>
	<script src="packages/index/js/common/MultiLanguage.js"></script>
	<script
		src="resources/global/plugins/angularjs/plugins/angular-strap/angular-strap.js"></script>
	<script
		src="resources/global/plugins/angularjs/plugins/angular-strap/angular-strap.tpl.js"></script>
</body>
</html>
