.dept-info {
    width: 850px !important;
    max-height: 500px;
    overflow: auto;
}

.dept-info tbody tr td {
    padding: 5px;
    line-height: 1.42857;
    vertical-align: middle;
    font-size: 10px;
    border-style: solid;
    border-width: 0px;
}

.dept-info tbody tr .tc {
    text-align: center;
}
.dept-info tbody tr .tr {
    text-align: right;
}

.dept-info tbody tr .tu {
    text-decoration: underline;
}

.dept-info tbody tr .tar {
    text-align: right;
}

.dept-info tbody tr .t {
    border-top-width: 1px !important;
    border-top-color: black !important;
}

.dept-info tbody tr .l {
    border-left-width: 1px !important;
    border-left-color: black !important;
}

.dept-info tbody tr .r {
    border-right-width: 1px !important;
    border-right-color: black !important;
}

.dept-info tbody tr .b {
    border-bottom-width: 1px !important;
    border-bottom-color: black !important;
}

.dept-info table {
    width: 100%;
}

.dept-info table, .dept-info table thead tr th, .dept-info table tbody tr td {
    border-width: 1px;
    border-style: solid;
    text-align: center;
}

.dept-info .form-group {
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none;
}

.dept-info .form-group .input-icon .fa {
    font-size: 8px;
}
.dept-info .form-control {
    font-size: 10px !important;
}
